body {
    background-color: #EDEEF0;
}

.container {
    max-width: 1000px;
}

.required:after {
    content: '*';
    color: red;
}

.my-nav {
    background-color: white;
}

.my-foot {
    background-color: white;
}

.my-btn {
    background-color: #2d3748;
    color: #edf2f7;
}

.my-btn:hover {
    background-color: #4a5568;
    color: white;
    transition: 0.3s;
}

.my-card {
    background-color: white;
    transition: 0.4s;
}

.my-card:hover {
    background-color: white;
    box-shadow: 0.1px 0.1px 2.2px rgba(0, 0, 0, 0.02),
    0.3px 0.3px 5.3px rgba(0, 0, 0, 0.028),
    0.6px 0.6px 10px rgba(0, 0, 0, 0.035),
    1.1px 1.1px 17.9px rgba(0, 0, 0, 0.042),
    2.1px 2.1px 33.4px rgba(0, 0, 0, 0.05),
    5px 5px 80px rgba(0, 0, 0, 0.07);

}

.my-alert-s {
    color: #2d3748;
    font-size: 110%;
    text-shadow: 0px 0px 4px white;
}

.my-alert-d {
    width: 230px;
    border-radius: 3px;
    background-color: rgba(231, 62, 62, 0.06);
    color: darkred;
    text-shadow: 0px 0px 4px white;
    margin-bottom: 20px;
    border: 1px solid rgba(231, 62, 62, 0.05);
}

.no-decor {
    list-style: none;
}

